* {
    margin: 0;
    border: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* 全局样式 */

/* 导航栏 */
#nav1 {
    width: 1400px;
    height: 100px;
    background-color: #b0d5df;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    text-align: center;
    z-index: 5;
}

.n1-1 {
    display: inline-block;
    margin: 0 auto;
    margin-top: 25px;
}

#nav1 div {
    float: left;
    width: 50px;
    height: 50px;
    background-color: #e8b004;
    border-radius: 50%;
    margin-left: 50px;
    transition: all 0.3s;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #000;
}

#nav1 div:hover {
    background-color: #8fb2c9;
    margin-top: 10px;
    font-size: 30px;
}

/* 导航栏 */

/* 左侧选择栏 */
#art1 {
    width: 1346px;
    height: 500px;
    background-color: #feba07;
    margin: 20px auto 0;
    border-radius: 15px;
    overflow: hidden;
}

.c1,
.c2 {
    float: left;
}

.c1 {
    width: 20%;
    height: 500px;
    background-color: #fbecde;
}

.c1 li {
    width: 100%;
    height: 100px;
    padding-left: 50px;
    line-height: 100px;
    position: relative;
    box-sizing: border-box;
}

.c1 li:hover {
    background-color: #ff6600;
}

.c1 li::after {
    content: " \e65b";
    font-family: "iconfont";
    position: absolute;
    right: 30px;
}

.c1 img {
    position: absolute;
    top: 25px;
    left: 305px;
    height: 100px;
    transition: all 0.5s;
    z-index: -1;

}

.c1 li:hover img {
    z-index: 2;
    height: 450px;
}

/* 左侧图片区 */

/* 视频区 */
.c2 {
    width: 80%;
    height: 500px;
    background-color: #f1c4cd;
    text-align: center;
}

#art1 iframe {
    height: 500px;
    width: 777px;
    border-radius: 15px;
}

/* #art1 video {
    position: absolute;
    left: 50%;
    margin-left: -444.44px;
    margin-top: 2.5px;
    height: 495px;
    width: 880px;
} */

/* 视频区 */

/* 八块区 */
#sec {
    height: 110px;
    width: 1346px;
    background-color: #d2d97a;
    margin: 10px auto;
    border-radius: 15px;
    overflow: hidden;
}

#ol {
    height: 110px;
    width: 16%;
    background-color: #f9f4dc;
    overflow: hidden;
    transition: all 5s;
}

#sec:hover #ol {
    width: 100%;
}

#ol li {
    float: left;
    width: 12%;
    height: 90px;
    margin-top: 10px;
    margin-left: 0.25%;
    background-color: #f1f0ed;
    border-radius: 15px;
    overflow: hidden;
}

#ol img {
    width: 160px;
    height: 90px;
}

#foo {
    width: 1400px;
    margin: 0 auto;
    border-radius: 15px;
    overflow: hidden;
}

#fd1 {
    height: 30px;
    width: 100%;
    background-color: #eea2a4;
    transition: all 0.5s;
}

#fd1 div {
    margin: auto;
    width: 0%;
    height: 100%;
    background-color: #b0d5df;
    transition: all 1.2s;
    border-radius: 12px;
}

#foo:hover #fd1 div {
    width: 100%;
    border-radius: 0px;
}

#fd2 {
    height: 50px;
    background-color: #d1c2d3;
    text-align: center;
}

#fd2 div {
    height: 50px;
    line-height: 50px;
    font-family: iconfont;
    font-size: 25px;
}

#fd2 a {
    padding: 5px;
    transition: all 0.5s;
}

#fd2 a:hover {
    font-size: 35px;
}